/*---BESTILLING INFO---*/

#bestilling_info {
    padding-top: 30px;
    padding-right: 70px;
    padding-left: 100px;
}

#gavekort_to img {
    width: 100%;
    height: 100%;
}

figure {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*---BESTILLINGSFORMULAR---*/

/* Her styles selve bestillingsformularen og den styling der er den samme for input[type=text], select og textarea  */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
}

label {
    font-family: 'Open Sans', sans-serif;
}

/* Her styles knappen man trykker på for at bestille sin ordre til sidst, med en pil der bliver til en hånd der klikker */
input[type=submit] {
    background-color: #72a0c1;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

/* Her styles knappen man trykker på for at bestille, som ændre farve når man fører musen hen på den */
input[type=submit]:hover {
    background-color: #ccc;
}

/* Her styles inde i selve boksen man skriver sin bestilling i */
#bestilling textarea {
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Her styles positionen af bestillingsformularen */
#bestilling {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 70px;
}



/*---GRID---*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
    background-color: #e9f4fb;
    margin-left: 150px;
    margin-right: 150px;
}



/*---MEDIA QUERIES---*/

@media (max-width: 1250px) {
    main {
        margin-top: 80px;
    }
}

@media (max-width: 1100px) {
    main {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 800px) {
    main {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 50px;
        background-color: #e9f4fb;
    }

    #bestilling_info {
        padding-right: 300px;
    }

    #gavekort_to img {
        width: 87%;
        height: 87%;
    }

    #bestilling {
        padding-left: 8px;
        padding-right: 10px;
    }


    @media (max-width: 700px) {

        #bestilling_info,
        #bestilling {
            padding-left: 40px;
            padding-right: 40px;

        }

        main {
            margin-top: 0.5px;
        }
