* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Kager */


h2 {
    display: none;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;

}

body {
    background-color: #E9F4FB;

}

footer {
    background-color: white;
}

#container img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;

}

#container {
    width: 70vw;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.overskrift {
    text-align: center;
}

.beskrivelse {
    text-align: center;
}


/* MEDIA Q */
