/*---GENERAL---*/

figure {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main {
    margin-top: 110px;
}

/*---SPLASH---*/

#splashbillede img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 5px 10%;
}
