main {
    margin-top: 110px;
}

/*---HEADER---*/

header nav {
    display: grid;
    grid-template-columns: 3.1fr 0.9fr 1.4fr 1fr 1.2fr 1.5fr;
    background-color: #72a0c1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header nav a {
    font-size: 1.8rem;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    color: #fceee3;
}

header img {
    max-width: 60%;
    padding-left: 40px;
}

/*---FOOTER---*/

footer {
    text-align: center;
    position: static;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 30px;
}

footer a {
    place-self: center;
}

footer p {
    font-family: sans-serif;
    color: black;
}

footer #abningstider,
#kontakt {
    text-align: left;
    padding-left: 30px;
}

footer #SoMe {
    padding-top: 10px;
}

footer #SoMe img {
    width: 30%;

}

footer #logo img {
    width: 40%;
}

footer #kontrolrapport {
    padding-top: 26px;
    padding-right: 5px;
}

footer #kontrolrapport img {
    width: 40%;
}

/*---MEDIA QUERIES---*/

@media (max-width: 700px) {
    footer {
        grid-template-columns: 1fr;
    }

    footer #abningstider {
        text-align: center;
    }

    footer #kontakt {
        text-align: center;
    }
