main {
    margin-top: 123px;
}

/*---SKRIFT---*/

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

p {
    line-height: 30px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
}

/*---HEADER---*/

header nav {
    display: grid;
    grid-template-columns: 3.1fr 0.9fr 1.4fr 1fr 1.2fr 1.5fr;
    background-color: #72a0c1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header nav a {
    font-size: 1.8rem;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    color: #fceee3;
    align-self: center;
}

header img {
    max-width: 60%;
    padding-left: 40px;
    align-self: center;
}

/*---BURGER MENU---*/

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #72a0c1;
    position: relative;
    display: none;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: #fceee3;
    padding: 5px 5px 5px 5px;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: #72a0c1;
    width: 100%;
}

.topnav img {
    width: 20%;
    padding-left: 5px;
    align-self: center;
}

header nav a {
    font-weight: 100;
}

header img {
    max-width: 80%;
    padding-left: 30px;
    align-self: center;
}

.topnav a {
    color: #fceee3;
    padding: 5px 5px 5px 5px;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    display: block;
    padding: 28px;

}

.topnav img {
    width: 35%;
    padding-left: 130px;
}


/*---FOOTER---*/

footer {
    text-align: center;
    position: static;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 30px;
}

footer a {
    place-self: center;
}

footer p {
    font-family: sans-serif;
    color: black;
}

footer #abningstider,
#kontakt {
    text-align: left;
    padding-left: 30px;
}

footer #SoMe {
    padding-top: 20px;
}

footer #SoMe img {
    width: 20%;

}

footer #logo img {
    width: 40%;
}

footer #kontrolrapport {
    padding-top: 26px;
    padding-right: 5px;
}

footer #kontrolrapport img {
    width: 40%;
}

/*---MEDIA QUERIES---*/

.logo2 {
    display: none;
    max-width: 50%;
    padding-left: 40px;
}


@media (max-width: 700px) {
    footer {
        grid-template-columns: 1fr;
    }

    footer #abningstider {
        text-align: center;
    }

    footer #kontakt {
        text-align: center;
    }

    @media (max-width: 800px) {

        .topnav {
            display: block;
        }

        header nav a {
            display: none;
        }

        .logo1 {
            display: none;
        }

        .logo2 {
            display: block;
            max-width: 100%;
            padding-left: 40px;
            align-self: center;
        }
    }
}
