/*---HEADER---*/

header nav {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lightblue;
    padding: 40px;
}

header nav a {
    font-size: 1.7rem;
    text-decoration: none;
}

header a {
    font-family: sans-serif;
    font-size: 0.1rem;
    padding: 0 0.8rem;
    font-size: 1rem;
    color: black;
}

header nav a img {
    margin-right: 700px;
    max-height: 50px;
}



/*---FOOTER---*/

footer {
    text-align: center;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer img {
    width: 50%;
}

footer a {
    place-self: center;
}

footer .SoMe {
    padding-top: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/*---MEDIA QUERIES---*/

@media (min-width: 777px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: lightblue;
    }

    header nav {
        flex-direction: row;
        justify-content: center;
    }

    header nav a {
        border-right: 0.2rem;
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}
