* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Kager */
article img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

h2 {
    display: none;
}

h1 {
    font-size: 1.5rem;
}

body {
    background-color: #E9F4FB;

}

footer {
    background-color: white;
}

#container img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;

}

#container {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


/* MEDIA Q */
