* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Kager */


h2 {
    display: none;
}

h1 {
    font-size: 1.65rem;
    font-family: 'Barlow Condensed', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;

}

body {
    background-color: #E9F4FB;
}

footer {
    background-color: white;
}

#container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}



#container {
    width: 70vw;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

#container a {
    text-decoration: none;
    color: black;
    opacity: 0.25;
    opacity: 0.25;
    transition: opacity 0.4s;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}



.overskrift {
    text-align: center;
}

.beskrivelse {
    text-align: center;
}

.kage {
    background-color: white;
    padding-bottom: 20px;
    border-radius: 5px;
}




/* MEDIA Q */
