main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
    background-color: #e9f4fb;
    margin-left: 150px;
    margin-right: 150px;
}



figure {
    display: grid;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*---INDHOLD---*/

#kort {
    margin: 0px auto;
    margin-top: 100px;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 70px;
}

#adresse {
    margin: 0px auto;
    padding-left: 100px;
    padding-right: 70px;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*--- TEKST TIL KONTAKT OS---*/


h1 {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 90px;

}

h2 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
}

p {
    line-height: 30px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

table {
    font-weight: 500;
    line-height: 30px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

/*---MEDIA QUERIES---*/

@media (max-width: 1100px) {
    main {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 800px) {
    main {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 50px;
        background-color: #e9f4fb;
    }

    #adresse {
        padding-right: 300px;
    }

    #kort {
        padding-left: 8px;
        padding-right: 10px;
    }


    @media (max-width: 700px) {

        #adresse,
        #kort {
            padding-left: 40px;
            padding-right: 40px;

        }
