main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

figure {
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }
}


/* Bestilling */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightblue;
}

.container {
    margin: 0px auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Tekst om Caketrucken */

h1 {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    max-height: 500px;
    max-width: 600px;
}
