main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 75%;
    padding-bottom: 30px;
    background-color: #e9f4fb;
    margin-left: 150px;
    margin-right: 150px;
}

figure {
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }
}


/* Bestilling */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightblue;
}

.container {
    margin-top: 70px;
    margin-right: 100px;
    padding-top: 70px;
}

#adresse {
    margin: 0px auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Tekst om Caketrucken */

.caketruck-txt {}

.caketruckimg {}


h1 {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 90px;

}

h2 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
}

p {
    line-height: 30px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

table {
    font-weight: 500;
    line-height: 30px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
