/****** HEADER *****/

header nav {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lightblue;
}

header nav a {
    font-size: 1.7rem;
    text-decoration: none;
}

header a {
    font-family: sans-serif;
    font-size: 0.1rem;
    padding: 0 0.8rem;
    font-size: 1rem;
    color: black;
}

header nav a img {
    margin-right: 700px;
    max-height: 50px;
}

/*---FOOTER---*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/*---MEDIA QUERIES---*/

@media (min-width: 777px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: lightblue;
    }

    header nav {
        flex-direction: row;
        justify-content: center;
    }

    header nav a {
        border-right: 0.2rem;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    /*********** MENU/UDVALG STYLE **********/

    h1 {
        margin-top: 100px;
        text-align: center;
    }

    .menutekst {
        margin-left: 350px;
        margin-right: 350px;
    }

    .menubilleder > .wp-block-group__inner-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 10px;
        justify-items: center;
        border-bottom: 1px groove black;
    }


    .menubilleder img {
        width: 350px;
        height: 300px;
        object-fit: cover;
        object-position: 0 4;
        margin-bottom: 60px;
    }
