/*********** MENU/UDVALG STYLE **********/


h1 {
    margin-top: 100px;
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    margin-left: 150px;
    margin-right: 150px;
    /*    border: 2px solid black;*/
    /*
    border-right: 2px solid black;
    border-left: 2px solid black;
*/
    /*    background-color: rgba(207, 221, 227, 0.2);*/
    background-color: #E9F4FB;

}

.menutekst {
    margin-left: 350px;
    margin-right: 350px;
}

.menubilleder > .wp-block-group__inner-container {
    display: grid;
    /*    grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 1px;
    justify-items: center;
    /*    border-bottom: 1px groove black;*/
}


.menubilleder img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: 0 4;
    margin-bottom: 60px;
    display: grid;
    grid-area: 1/1;
}

.knaptekst {
    display: grid;
}

.knaptekst figcaption {
    display: grid;
    grid-area: 1/1;
    place-self: center;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-family: "Barlow Condensed", sans-serif;
    text-shadow: 3px 3px 6px #000;
}

.knaptekst a {
    display: grid;
    grid-area: 1/1;
    place-self: center;
}

.knaptekst img:hover {
    opacity: 30%;
}


/******** MEDIA QUERIES *********/


@media only screen and (max-width: 800px) {
    section {
        margin-right: 5px;
        margin-left: 5px;
        background-color: white;
    }

    .menutekst {
        margin-right: -10px;
        margin-left: -10px;
    }
}
