/*********** MENU/UDVALG STYLE **********/


h1,
h2,
p {
    font-family: 'PT Serif', serif;
}

h1 {
    margin-top: 100px;
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    margin-left: 100px;
    margin-right: 100px;
    /*    border: 2px solid black;*/
    /*
    border-right: 2px solid black;
    border-left: 2px solid black;
*/
    background-color: rgba(207, 221, 227, 0.2);

}

.menutekst {
    margin-left: 350px;
    margin-right: 350px;
}

.menubilleder > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
    border-bottom: 1px groove black;
}


.menubilleder img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: 0 4;
    margin-bottom: 60px;
}
