/*********** MENU/UDVALG STYLE **********/


h1 {
    margin-top: 100px;
    text-align: center;
}

h2 {
    text-align: center;
}

.tekstudfyld2 {
    opacity: 0;
}

.overskrift2 {
    margin-top: 5px;
}

section {
    margin-left: 150px;
    margin-right: 150px;
    background-color: #E9F4FB;

}

.menutekst {
    margin-left: 350px;
    margin-right: 350px;
}

.menubilleder > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}


.menubilleder img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 60px;
    display: grid;
    grid-area: 1/1;
}

.knaptekst {
    display: grid;
}

.knaptekst figcaption {
    display: grid;
    grid-area: 1/1;
    place-self: center;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-family: "Barlow Condensed", sans-serif;
    text-shadow: 3px 3px 6px #000;
}

.knaptekst a {
    display: grid;
    grid-area: 1/1;
    place-self: center;
}

.knaptekst img:hover {
    opacity: 30%;
}


/******** MEDIA QUERIES *********/


@media only screen and (max-width: 800px) {
    section {
        margin-right: 5px;
        margin-left: 5px;
        background-color: white;
    }

    .menutekst {
        margin-right: -10px;
        margin-left: -10px;
    }

    .tekstudfyld2 {
        display: none;
    }

    .overskrift2 {
        margin-top: -70px;
    }
}
