/***** OM OS CSS ******/

h1 {
    /*
    margin-top: 100px;
    text-align: center;
*/
    display: none;
}

.udfyldtekst {
    opacity: 100%;
}

.overskrift1 {
    margin-top: 30px;
}

h2 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
}

section {
    margin-left: 150px;
    margin-right: 150px;
    /*    border: 2px solid black;*/
    /*
    border-right: 2px solid black;
    border-left: 2px solid black;
*/
    background-color: #E9F4FB;
}


.omossection > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
    border-bottom: 1px groove black;
}

.omos1 {
    max-width: 400px;
}

.omos2 img {
    width: 400px;
    height: 460px;
    object-fit: cover;
    object-position: 0 0;
}

.omstedetsection > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
    border-bottom: 1px groove black;
}

.omstedet1 img {
    width: 400px;
    height: 460px;
    object-fit: cover;
    object-position: 0 0;
}

.omstedet2 {
    max-width: 500px;
    margin-right: 50px;
}


.raavarer1 p {
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 20px;
}

.raavarer1 {
    border-bottom: 1px groove black;
}

.tgtgtekst {
    margin-right: 200px;
    margin-left: 200px;
    border: 1px solid black;
    padding: 20px;
}


p {
    line-height: 30px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
