/***** OM OS CSS ******/

h2 {
    text-align: center;
}

section {
    margin-left: 150px;
    margin-right: 150px;
    /*    border: 2px solid black;*/
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.omossection > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
}

.omos1 {
    max-width: 500px;
}

.omos2 img {
    width: 500px;
    height: 560px;
    object-fit: cover;
    object-position: 0 0;
}

.omstedetsection > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
}

.omstedet1 img {
    width: 500px;
    height: 560px;
    object-fit: cover;
    object-position: 0 0;
}

.omstedet2 {
    max-width: 500px;
}


.raavarer1 {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.togoodtogo1 {
    margin-right: 100px;
    margin-left: 100px;
}

p {
    line-height: 27px;
}
