/*---HEADER---*/

header nav {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #E8F8FF;
    padding: 40px;
}

header nav a {
    font-size: 1.7rem;
    text-decoration: none;
}

header a {
    font-family: sans-serif;
    font-size: 0.1rem;
    padding: 0 0.8rem;
    font-size: 1rem;
    color: black;
}

header nav a img {
    margin-right: 700px;
    max-height: 50px;
}

header p {
    text-align: center;
}

/*---FOOTER---*/

footer {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    display: grid;
    max-width: 3000px;
    max-height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
}

footer img {
    width: 30%;
    height: auto;
}

footer a {
    place-self: center;
}

footer a img {
    margin-right: 700px;
    max-height: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/*---MEDIA QUERIES---*/

@media (min-width: 777px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: lightblue;
    }

    header nav {
        flex-direction: row;
        justify-content: center;
    }

    header nav a {
        border-right: 0.2rem;
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}

/***** OM OS CSS ******/

h1,
h2,
p {
    font-family: 'PT Serif', serif;
}

h1 {
    /*
    margin-top: 100px;
    text-align: center;
*/
    display: none;
}

.udfyldtekst {
    opacity: 100%;
}

.overskrift1 {
    margin-top: 30px;
}

h2 {
    text-align: center;
}

section {
    margin-left: 150px;
    margin-right: 150px;
    /*    border: 2px solid black;*/
    /*
    border-right: 2px solid black;
    border-left: 2px solid black;
*/
    background-color: rgba(207, 221, 227, 0.2);
}

.omossection > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
    border-bottom: 1px groove black;
}

.omos1 {
    max-width: 500px;
}

.omos2 img {
    width: 500px;
    height: 560px;
    object-fit: cover;
    object-position: 0 0;
}

.omstedetsection > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
    border-bottom: 1px groove black;
}

.omstedet1 img {
    width: 500px;
    height: 560px;
    object-fit: cover;
    object-position: 0 0;
}

.omstedet2 {
    max-width: 500px;
}


.raavarer1 p {
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 20px;
}

.raavarer1 {
    border-bottom: 1px groove black;
}

.tgtgtekst {
    margin-right: 200px;
    margin-left: 200px;
    border: 1px solid black;
    padding: 20px;
}


p {
    line-height: 30px;
}
