/***** OM OS CSS ******/

h1 {
    /*
    margin-top: 100px;
    text-align: center;
*/
    opacity: 100%;
}

.tekstudfyld {
    opacity: 0;
}

.overskrift1 {
    margin-top: 100px;
}

h2 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
}

section {
    margin-left: 150px;
    margin-right: 150px;
    /*    border: 2px solid black;*/
    /*
    border-right: 2px solid black;
    border-left: 2px solid black;
*/
    background-color: #E9F4FB;
}


.omossection > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
    border-bottom: 1px groove black;
}

.omos1 {
    max-width: 400px;
}

video {
    width: 425px;
}

.omstedetsection > .wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
    border-bottom: 1px groove black;
}

.omstedet1 img {
    width: 400px;
    height: 460px;
    object-fit: cover;
    object-position: 0 0;
}

.omstedet2 {
    max-width: 500px;
    margin-right: 50px;
}


.raavarer1 p {
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    padding: 20px;
}

.raavarer1 {
    border-bottom: 1px groove black;
}

.tgtgtekst {
    margin-right: 200px;
    margin-left: 200px;
    padding: 20px;
}


p {
    line-height: 30px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

/******* MEDIA QUERIES ********/

@media only screen and (max-width: 1000px) {
    main {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 150px;
        background-color: #e9f4fb;
    }

    section {
        margin-right: 5px;
        margin-left: 5px;

    }

    .omossection > .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap;
    }

    .omos1 {
        max-width: 500px;
        margin-left: 10px;
    }

    .omos2 img {
        width: 400px;
        height: 460px;
        object-fit: cover;
        object-position: 0 0;
        margin-left: -10px;
    }

    .omstedetsection > .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .omstedet2 {
        max-width: 500px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .omstedet1 img {
        width: 400px;
        height: 460px;
        object-fit: cover;
        object-position: 0 0;
        margin-left: -10px;
    }

    .raavarer1 p {
        border: none;
        margin-left: -10px;
        margin-right: -10px;
    }

    .tgtgtekst {
        border: none;
        margin-left: -10px;
        margin-right: -10px;
        border-bottom: 1px groove black;
    }

    .tekstudfyld {
        opacity: 0;
        margin-top: 50px;
    }

    video {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    main {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: -150px;
        background-color: #e9f4fb;
    }

    section {
        margin-right: 5px;
        margin-left: 5px;

    }

    .omossection > .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap;
    }

    .omos1 {
        max-width: 500px;
        margin-left: 10px;
    }

    .omos2 img {
        width: 400px;
        height: 460px;
        object-fit: cover;
        object-position: 0 0;
        margin-left: -10px;
    }

    .omstedetsection > .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .omstedet2 {
        max-width: 500px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .omstedet1 img {
        width: 400px;
        height: 460px;
        object-fit: cover;
        object-position: 0 0;
        margin-left: -10px;
    }

    .raavarer1 p {
        border: none;
        margin-left: -10px;
        margin-right: -10px;
    }

    .tgtgtekst {
        border: none;
        margin-left: -10px;
        margin-right: -10px;
        border-bottom: 1px groove black;
    }

    .tekstudfyld {
        opacity: 0;
        margin-top: -150px;
    }

    video {
        width: 100%;
    }
}
