/* GENERELT */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* HOVEDMENU */


header nav a {
    font-weight: 100;
}

header img {
    max-width: 80%;
    padding-left: 30px;
    align-self: center;
}

.topnav a {
    color: #fceee3;
    padding: 5px 5px 5px 5px;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    display: block;
    padding: 28px;

}

.topnav img {
    width: 35%;
    padding-left: 0;
}

/* Produkter */


h2 {
    display: none;

}

h1 {
    font-size: 1.65rem;
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;


}

footer {
    background-color: white;
}



#container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}



#container {
    width: 70vw;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-bottom: 50px;


}

#indhold {
    margin-right: 150px;
    margin-left: 150px;
    background-color: #E9F4FB;


}


.overskrift {
    text-align: center;
    padding-top: 120px;
}

.overskrift h1 {
    font-size: 3rem;

}

.overbeskrivelse {
    padding: 20px 50px 0px 50px;
}

.beskrivelse {
    text-align: center;
}

.produkt {
    background-color: white;
    padding-bottom: 20px;
    border-radius: 5px;
}




/* MEDIA Q */

@media only screen and (max-width: 1000px) {

    #indhold {
        margin: 0 auto;
    }



    .overbeskrivelse {
        padding: 0px 50px 0px 50px;
    }

}

@media only screen and (max-width: 700px) {


    .overskrift {
        padding: 20px;
    }


}
